@import url("https://fonts.googleapis.com/css?family=Barrio|Montserrat:700");

body {
  padding: 10px 20px;
  background: rgb(40, 42, 54);
  color: white;
  font-family: Arial, Helvetica, sans-serif;
}

h1 {
  display: inline-block;
}

header {
  display: flex;
  flex-direction: row;
  justify-content: right;
}
.main {
  display: flex;
  flex-direction: column;
  text-align: center;
}

.container {
  margin: auto;
  width: 100%;
  min-height: 400px;
  border-top: 1px solid #efefef;
  padding: 4px 8px;
}

#output {
  overflow-wrap: break-word;
}

footer {
  text-align: center;
  font-size: .5em;
}

button {
  margin: auto;
  padding: 1rem;
  text-transform: uppercase;
  color: #fafafa;
  background: linear-gradient(45deg, #3bade3 0%, #576fe6 25%, #9844b7 51%, #ff357f 100%);
  border: none;
  border-radius: 3px;
  box-shadow: 1px 1px 10px #111;
  transition: .3s all ease;
  letter-spacing: .1rem;
  font-size: .85rem;
  position: relative;
  top: 0;
  right: 0;
  padding-left: 2.5rem;
}
button:after, button:before {
  position: absolute;
  font-family: 'Barrio', sans-serif;
  font-weight: bold;
  font-size: 1rem;
  color: #006b34;
  transition: .3s all ease;
}
button:before {
  content: '_';
  position: absolute;
  left: 1.4rem;
  top: .9rem;
}
button:after {
  content: '>';
  position: absolute;
  left: .8rem;
  top: 1rem;
}
button:hover {
  box-shadow: 1px 1px 20px #111;
  top: -.1rem;
  right: -.1rem;
  cursor: pointer;
}
button:hover:before {
  content: '_';
  position: absolute;
  left: .8rem;
  top: .7rem;
  transform: translateY(-1px);
}
button:hover:after {
  content: '>';
  position: absolute;
  left: 1.1rem;
  top: 1rem;
}