body {
  padding: 10px 20px;
  background: rgb(40, 42, 54);
  color: white;
  font-family: "Open Sans","Segoe UI", sans-serif;
}

h1 {
  font-size: 24px;
  width: 100%;
  padding: 3px 10px;
  border: 1px solid white;
  margin-bottom: 2px;
  position: relative;
  top: -7px;
  text-shadow: rgb(49, 67, 228) .05em .05em 0,
  white .08em .08em 0;
}

.brand {
  text-align: center;
  display: inline-block;
  margin-right: 30px;
}



header {
  padding: 6px 0;
  border-bottom: 1px solid white;
  margin-bottom: 10px;
}

.main {
  display: flex;
  flex-direction: column;
  text-align: center;
}

.container {
  display: flex;
  align-items: center;
  justify-content: space-around;
  overflow: hidden;
}

.copied {
  transition: all .3s;
  color: #6772e5;
  text-shadow: 0 0 5px #000;
}

code {
  padding: 5px;
}

#output {
  overflow-wrap: break-word;
}

footer {
  text-align: right;
}
#arrow {
  font-size: 25px;
  transform: rotate(-90deg);
  display: inline-block;
  background: rgba(0,0,0,.4);
  padding: 3px 13px;
  border-radius: 5px;
}

.btn, .btn--inverse {
  margin: 10px;
  height: 40px;
  line-height: 40px;
  padding: 0 14px;
  box-shadow: 0 4px 6px rgba(50, 50, 93, 0.11), 0 1px 3px rgba(0, 0, 0, 0.08);
  background: #fff;
  color: #6772e5;
  border-radius: 4px;
  font-size: 15px;
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: .025em;
  transition: all .15s ease;
  cursor: pointer;
}
.btn:hover, .btn--inverse:hover {
  color: #7795f8;
  transform: translateY(-1px);
  box-shadow: 0 7px 14px rgba(50, 50, 93, 0.1), 0 3px 6px rgba(0, 0, 0, 0.08);
}
.btn--inverse {
  color: #fff;
  background: #6772e5;
}
.btn--inverse:hover {
  color: #fff;
  background-color: #7795f8;
}

